# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build directories
build/
dist/

# .env files for sensitive information
.env
.env.local
.env.development
.env.test
.env.production

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
